TELEGRAM_TOKEN_membership=your_bot_token_from_botfather
TELEGRAM_CHAT_ID_membership=your_telegram_chat_id
ADMIN_STATS_KEY=choose_a_long_random_secret_for_the_admin_page
ADMIN_USERNAME=admin
SESSION_SECRET=choose_a_long_random_secret_for_signing_login_sessions
